html, body{
    margin:0px !important;
    padding: 0px !important;
 }

body {
    background-color: rgb(237, 249, 0);
   font-family:'Montserrat';
}

.header{
    color: white;
    background-color: #b8df10;
    display: block;
    width: 100%;
    height: 60px;
    position: fixed;
}

.icones{
    float: left;
    width: 3%;
    padding: 7px 50px ;
}

.art{
    border-radius: 15%;
    padding: 50px 20px;
}

.artredonda{
    border-radius: 40%;
    padding: 50px 20px;
}

.f-principal {
    display:flex;
    flex-direction:row-reverse;
    gap: 0px;
    
}

.f-principal .texto {
    flex-direction:column;
    text-align:justify;
    text-align: left;
    width: 900px;
    gap: 40px;
    padding: 60px 120px;
}

.f-quemsoueu {
    background-color: #390879;
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0px 0px;
}

.f-quemsoueu .textos {
    color: white;
    display:block;
    flex-direction: column;
    text-align:justify;
    gap: 20px;
    width: 900px;
    padding: 0px 0px;
}

.f-oqueseifazer {
    background-color: rgb(237, 249, 0);
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    padding: 0px 0px;
}

.f-oqueseifazer .textos {
    display:flex;
    flex-direction: column;
    text-align:justify;
    text-align: left;
    gap: 0px;
    width: 900px;
    padding: 30px;
    line-height: 16px;    
   }

   .f-contato {
    background-color: black;
    display: flex;
    gap: 40px;
    width: 100%;
     
}

.f-contato .textos p {
    display:block;
    color: white;
    flex-direction:row;
    box-sizing: border-box;
    width: 300px;
    height:40px;
    font-size: 20px;
    line-height: 16px;
}

.benefits{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    width: 90%;
    margin: 0 auto;
}
.benefit{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
}
.benefit .benefit-img{
    width: 340px;
    height: 310px;
    border-radius: 5%;
    background-position:center ;
    margin-bottom: 1em;

}
#benefit-1{
    background-image: url(/images/depoimento1.jpg);
}
#benefit-2{
    background-image: url(/images/depoimento2.jpg);
}
#benefit-3{
    background-image: url(/images/depoimento3.jpg);}
.orcamento {
    display:flex;
            
}
.about-event {
    font-size: 2em;
    font-weight:bold;
          
}  
.form-nome input{
    margin-bottom: 0.6em;
    padding: 0px 110px 0px 0px;
    
}
.form-email input{
    margin-bottom: 0.6em;
    padding: 0px 110px 0px 0px;
    
}
.form-phone input{
    margin-bottom: 0.6em;
    padding: 0px 110px 0px 0px;
}
.form-interes input{
    margin-bottom: 0.6em;
    padding: 10px;
    font-size: .8em;
    padding: 0px 120px 120px 0px;
        
}


